## file .gitignore
## in Bismon - see github.com/bstarynk/bismon for more.
*.o
*.so
*.gch
__timestamp*
_*.mjs
*prog
bismon
passwords_BM
BM_makeconst
BM_compile_module
BM_makeconst_dbg
BISMON-config

_bm_allconsts*.c
*_BM.const.h
_*ONIONBM.[ch]
.ninja*
*~
*-
*%
*.orig

_bismon-config.mk
_bm_config.h

_BM_compmod_*

_cflagsmodule.mk
*BM.const.h

core*
modules/_*_.c
modules/tmpmob*.c
modules/badm*.c
modulbin/*.so
*.html

_*.log
_*.pid

gmon.out

build.ninja
.ninja*
*.mkd

# documentation related
texput.log
doc/generated/*
doc/*.aux
doc/*.bbl
doc/*.log
doc/*.out
doc/*.pdf
doc/*.blg
doc/*.toc
doc/*.idx
doc/*.ind
doc/*.ilg
doc/*.haux
doc/*.hind
doc/*.htoc
doc/*.lof
doc/*.lot
doc/htmldoc/*
doc/bismon-html-doc.tar.gz
