## file .gitignore
*.o
*.so
*.gch
__timestamp*
*prog
bismon
BM_makeconst
_bm_allconsts.c
*_BM.const.h
.ninja*
*~
*-
*%
*.orig

core*
modules/_*_.c

*.html

_*.log

gmon.out

# documentation related
texput.log
doc/generated/*
doc/*.aux
doc/*.bbl
doc/*.log
doc/*.out
doc/*.pdf
doc/*.blg
doc/*.toc

doc/htmldoc/*
