## file .gitignore
*.o
*.so
*.gch
__timestamp*
*prog
bismon
passwords_BM
BM_makeconst
_bm_allconsts*.c
*_BM.const.h
_*ONIONBM.[ch]
.ninja*
*~
*-
*%
*.orig

*BM.const.h

core*
modules/_*_.c
modules/tmpmob*.c
modulbin/*.so
*.html

_*.log
_*.pid

gmon.out

build.ninja
.ninja*
*.mkd

# documentation related
texput.log
doc/generated/*
doc/*.aux
doc/*.bbl
doc/*.log
doc/*.out
doc/*.pdf
doc/*.blg
doc/*.toc
doc/*.idx
doc/*.ind
doc/*.ilg
doc/*.haux
doc/*.hind
doc/*.htoc
doc/htmldoc/*
doc/bismon-html-doc.tar.gz
