/* file bismon.css */

/* see https://stackoverflow.com/a/46862229/841108 */
#commandview text {
    background-color: seashell;
    font-size: 19px;
    font-family: Inconsolata;
}

#logview text {
    background-color: paleturquoise;
}
