# file bismon/talks/Lamsade-21nov2019/.gitignore
Bismon-Starynkevitch-Lamsade-21nov2019.aux
Bismon-Starynkevitch-Lamsade-21nov2019.log
Bismon-Starynkevitch-Lamsade-21nov2019.nav
Bismon-Starynkevitch-Lamsade-21nov2019.out
Bismon-Starynkevitch-Lamsade-21nov2019.pdf
Bismon-Starynkevitch-Lamsade-21nov2019.snm
Bismon-Starynkevitch-Lamsade-21nov2019.toc
Bismon-Starynkevitch-Lamsade-21nov2019.vrb
