/* file themes/first-theme.css */
body {
    background-color: ivory;
    font-family: "Verdana", sans-serif;
    font-size: 12px;
}

h1 {
    font-size: 141%;
    font-weight: bold;
    color: navy;
}

/* end of themes/first-theme.css */
