/* file themes/first-theme.css */
body {
    background-color: ivory;
    font-family: "Verdana", sans-serif;
    font-size: 12px;
}

h1 {
    font-size: 141%;
    font-weight: bold;
    color: navy;
}

nav.bmcl_topnav {
    border-style: dotted;
    border-color: darkred;
    border-width: 1px;
    margin: 3px;
    padding: 2px;
}

/* end of themes/first-theme.css */
