/* file themes/second-theme.css */
body {
    background-color: grey;
    font-family: "Arial", san-serif;
    font-size: 17px;
}

h1 {
    font-size: 141%;
    font-weight: bold;
    color: ivory;
}

nav.bmcl_topnav {
    border-style: dashed;
    border-color: lightblue;
    border-width: 1px;
    margin: 5px;
    padding: 3px;
}

button.bmcl_topbut {
    border-color: navy;
    border-width: 1px;
    border-style: dashed;
    margin: 2px;
    padding: 3px;
    /* background-color: lightpink; */
    color: ivory;
}

button.bmcl_topbut:hover {
    border-color: blue;
    border-width: 2px;
    border-style: solid;
    margin: 3px;
    padding: 2px;
}

ul.bmcl_topmenu {
    background-color: #1F2623;
    border-color: #915808;
    width: auto;
    display: inline-block;
}

li.bmcl_topmenutitle {
    font-size: 85%;
    font-style: italic;
    color: #109F38;
    border-style: solid;
    border-witdh: 1px;
    margin: 2px;
    padding: 2px;
}


li.bmcl_topmenuitem {
    font-size: 95%;
    border-style: solid;
    border-witdh: 1px;
    margin: 2px;
    padding: 2px;
}

p.bmcl_hellopara {
    font-size: 105%;
    color: #EDDFD6;
    border-style: solid;
    border-witdh: 1px;
    margin: 3px;
    padding: 3px;
}

tt.bmcl_cookie {
    font-size: 97%;
    font-family: "Lucida Console", Monaco, monospace;
    background-color: #ECCBE6;
    margin: 1px;
    display: inline;
    padding: 2px;
}
	
div.bmcl_neweval {
    background-color: #FBD0ED;
}

div.bmcl_newevalbox {
    margin: 4px;
    padding: 2px;
    border-style: dashed;
    border-width: 1px;
    border-color: navy;
}

/* end of themes/second-theme.css */
